//---------------------------------------------------------------------------------------------
//- Javascript sources
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
//- Environment variables
//- passed from Gruntfile.js to be used in javascript
//---------------------------------------------------------------------------------------------

script.
	var basepath = "#{environment.dir}";
	
//---------------------------------------------------------------------------------------------
//- Public CDN js files
//---------------------------------------------------------------------------------------------

each script in scripts.cdn
	script(src="#{script}")

//---------------------------------------------------------------------------------------------
//- Concatenated external libraries
//---------------------------------------------------------------------------------------------

script(src="#{environment.dir}js/libs.js")

//---------------------------------------------------------------------------------------------
//- Application specific scripts
//---------------------------------------------------------------------------------------------

if environment.id == "local"
	each script in scripts.app
		script(src="#{environment.dir}#{script.replace(srcDir, '')}")
else
	script(src="#{environment.dir}js/main-min.js")